head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
	meta(name="apple-mobile-web-app-capable",content="yes")
	title= pkg.title + ' - ' + title
	meta(name="description", content=pkg.description)

	meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")

	<meta property="og:title" content="#{pkg.title} - #{title}">
	<meta property="og:description" content="#{pkg.description}">
	<meta property="og:site_name" content="#{pkg.title}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="#{pkg.url}">
	<meta property="og:locale" content="en_GB">

	//mobile and favicons
	link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")

	script(src="//use.typekit.net/lpn3lbe.js")
	script.
		try{Typekit.load();}catch(e){}

	script(src="http://fast.fonts.net/jsapi/66d4e6c0-0d59-4303-98c3-f88990391d43.js")

	// Application styles
	link(rel='stylesheet', href='/css/kickoff.css')

	// Modernizr
	script(src="/js/modernizr-build.min.js", async)